<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/dev_stories" class="brand-logo center">Dev Stories</a>
            <a href="#" data-target="slide-out" class="sidenav-trigger show-on-large">
                <i class="fa fa-bars"></i>
            </a>
            <!-- RIGHT NAV -->
            <ul class="right hide-on-small-only">
                {{#if user}}
                <li>
                    <a href="/dev_stories/dashboard">Welcome {{user.firstName}}</a>
                </li>
                <li>
                    <a href="/dev_stories/auth/logout">
                        <i class="fa fa-sign-out"></i> Logout</a>
                </li>
                {{else}}
                <li>
                    <a href="/dev_stories/stories">
                        <i class="fa fa-book"></i> Public Stories</a>
                </li>
                {{/if}}
                <li>
                    <a href="/dev_stories/about">
                        <i class="fa fa-book"></i> About</a>
                </li>
                <li>
                    <a href="https://github.com/amshelhack3r/web_stories.git">
                        <i class="fa fa-github"></i>GITHUB</a>
                </li>
            </ul>
            <!-- SIDE MENU -->
            <ul class="sidenav" id="slide-out">
                {{#if user}}
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="images/abstract.jpg" alt="abstract">
                        </div>
                        <a href="#user">
                            <img class="circle" src="{{user.avatar}}">
                        </a>
                        <a href="#name">
                            <span class="white-text name">{{user.name}}</span>
                        </a>
                        <a href="#email">
                            <span class="white-text email">{{user.email}}</span>
                        </a>
                    </div>
                </li>
                <li>
                    <a href="/dev_stories/dashboard">
                        <i class="fa fa-cog"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/dev_stories/stories/my">
                        <i class="fa fa-user"></i> My Stories</a>
                </li>
                <li>
                    <a href="/dev_stories/auth/logout">
                        <i class="fa fa-sign-out"></i> Logout</a>
                </li>
                {{else}}
                <li>
                    <a class="btn red darken-1" href="/dev_stories/auth/google">
                        <i class="fa fa-google left"></i> Login With Google</a>
                </li>

                <li class="divider"></li>
                {{/if}}
                <li>
                    <a href="/dev_stories/stories">
                        <i class="fa fa-book"></i> Public Stories</a>
                </li>

            </ul>
        </div>
    </div>
</nav>